documentation/request-sender/.env
documentation/request-sender/target/*
documentation/sqlx/bookstore/.env
documentation/sqlx/bookstore/target/*
documentation/axum/rust-axum-postres-api/.env
documentation/axum/rust-axum-postgres-api/target/*	
documentation/axum/rust-axum-postres-api/.env
vinyl-swarm/target/*
# Ignore Rust build artifacts
target/
*.d
*.o
*.rcgu.o
vinyl-swarm/target/debug/*
